 # Michael's Personal Work

# Exercice1

## 1. Créer un Dataframe qui ressemble à ceci :

In [1]:
import numpy as np
import pandas as pd
Names=["Doudou","Amy","Moussa"]
dico={"Nom" : Names,
"Age" :[10,15,20],"Poids" :[75,123,239],"Taille" :[4.5,5.0,6.1],"Genre" :["M","F","M"]}
df=pd.DataFrame(dico)
df

      Nom  Age  Poids  Taille Genre
0  Doudou   10     75     4.5     M
1     Amy   15    123     5.0     F
2  Moussa   20    239     6.1     M

## 2. Créez un DataFrame animaux qui correspond au diagramme ci-dessous:

In [2]:
import numpy as np
import pandas as pd
ar = np.array([[12,22],[20,19]])
animaux = pd.DataFrame(ar, index = ['an1','an2'], columns = ['Vaches','Chevres'])
animaux

     Vaches  Chevres
an1      12       22
an2      20       19

## 3. Enregistrer le DataFrame de la question 2 sur le disque dur en tant que fichier csv sous le nom vache_chevre.csv

In [3]:
animaux.to_csv("vache_chevre.csv")

## 4. Transformer le fichier de la question 3 en DataFrame pour obtenir le résultat suivant.

In [4]:
import pandas as pd
R=pd.read_csv("vache_chevre.csv",index_col=0)
R

     Vaches  Chevres
an1      12       22
an2      20       19

# Exercice 2

## 1. Importer le fichier boissons_evaluees.csv.

In [5]:
# Importation du système
import os
# Récupération du répertoire de travail
#(cwd : current working directory)
cwd = os.getcwd()
print(cwd)
# Changement de répertoire
os.chdir("C:\\Users\\User\\OneDrive\\Bureau\\WorkSpace19")

C:\Users\User

In [6]:
import pandas as pd
R=pd.read_csv("boissons_evaluees.csv")
print(R)

        Unnamed: 0   country  \
0                0     Italy
1                1  Portugal
2                2        US
3                3        US
4                4        US
...            ...       ...
129966      129966   Germany
129967      129967        US
129968      129968    France
129969      129969    France
129970      129970    France

                                              description  \
0       Aromas include tropical fruit, broom, brimston...
1       This is ripe and fruity, a wine that is smooth...
2       Tart and snappy, the flavors of lime flesh and...
3       Pineapple rind, lemon pith and orange blossom ...
4       Much like the regular bottling from 2012, this...
...                                                   ...
129966  Notes of honeysuckle and cantaloupe sweeten th...
129967  Citation is given as much as a decade of bottl...
129968  Well-drained gravel soil gives this wine its c...
129969  A dry style of Pinot Gris, this is crisp with ...
129970  Big, rich and off-dry, this is powered by inte...

                                   designation  points  price  \
0                                 Vulkà Bianco      87    NaN
1                                     Avidagos      87   15.0
2                                          NaN      87   14.0
3                         Reserve Late Harvest      87   13.0
4           Vintner's Reserve Wild Child Block      87   65.0
...                                        ...     ...    ...
129966  Brauneberger Juffer-Sonnenuhr Spätlese      90   28.0
129967                                     NaN      90   75.0
129968                                   Kritt      90   30.0
129969                                     NaN      90   32.0
129970           Lieu-dit Harth Cuvée Caroline      90   21.0

                 province             region_1           region_2  \
0       Sicily & Sardinia                 Etna                NaN
1                   Douro                  NaN                NaN
2                  Oregon    Willamette Valley  Willamette Valley
3                Michigan  Lake Michigan Shore                NaN
4                  Oregon    Willamette Valley  Willamette Valley
...                   ...                  ...                ...
129966              Mosel                  NaN                NaN
129967             Oregon               Oregon       Oregon Other
129968             Alsace               Alsace                NaN
129969             Alsace               Alsace                NaN
129970             Alsace               Alsace                NaN

               taster_name taster_twitter_handle  \
0            Kerin O’Keefe          @kerinokeefe
1               Roger Voss            @vossroger
2             Paul Gregutt           @paulgwine
3       Alexander Peartree                   NaN
4             Paul Gregutt           @paulgwine
...                    ...                   ...
129966  Anna Lee C. Iijima                   NaN
129967        Paul Gregutt           @paulgwine
129968          Roger Voss            @vossroger
129969          Roger Voss            @vossroger
129970          Roger Voss            @vossroger

                                                    title         variety  \
0                       Nicosia 2013 Vulkà Bianco  (Etna)     White Blend
1           Quinta dos Avidagos 2011 Avidagos Red (Douro)  Portuguese Red
2           Rainstorm 2013 Pinot Gris (Willamette Valley)      Pinot Gris
3       St. Julian 2013 Reserve Late Harvest Riesling ...        Riesling
4       Sweet Cheeks 2012 Vintner's Reserve Wild Child...      Pinot Noir
...                                                   ...             ...
129966  Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...        Riesling
129967                  Citation 2004 Pinot Noir (Oregon)      Pinot Noir
129968  Domaine Gresser 2013 Kritt Gewurztraminer (Als...  Gewürztraminer
129969      Domaine Marcel Deiss 2012 Pinot Gris (Alsace)      Pinot Gris
129970  Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...  Gewürztraminer

                                          winery
0                                        Nicosia
1                            Quinta dos Avidagos
2                                      Rainstorm
3                                     St. Julian
4                                   Sweet Cheeks
...                                          ...
129966  Dr. H. Thanisch (Erben Müller-Burggraef)
129967                                  Citation
129968                           Domaine Gresser
129969                      Domaine Marcel Deiss
129970                          Domaine Schoffit

[129971 rows x 14 columns]

## 2. Quelle est la médiane de la colonne points dans le DataFrame boisson ?

In [7]:
mediane = R.points.median() 
print("La mediane des valeurs est : " ,mediane)

La mediane des valeurs est :  88.0

## 3. Quels sont les pays représentés dans l’ensemble de données ? (Votre réponse ne doit pas comporter de doublons).

In [8]:
R.country.unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia',
       'China', 'Egypt'], dtype=object)

## 4. À quelle fréquence chaque pays figure-t-il dans l’ensemble des données ? Créez une Series de boisson_par_pays en faisant correspondre les pays au nombre de critiques de boisson de ce pays.

In [9]:
Frequence=R.country.value_counts()
Frequence

US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Macedonia                    12
Czech Republic               12
Serbia                       12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Bosnia and Herzegovina        2
Armenia                       2
China                         1
Slovakia                      1
Egypt                         1
Name: country, dtype: int64

In [10]:
from pandas import Series
boisson_pays=R.groupby("country").points.unique()
boisson_pays
critical=[]
for i in range(len(boisson_pays.index)):
    critical.append(len(boisson_pays[i]))
boisson_series=Series(critical,index=boisson_pays.index)
boisson_series

country
Argentina                 18
Armenia                    2
Australia                 21
Austria                   17
Bosnia and Herzegovina     2
Brazil                    10
Bulgaria                  11
Canada                    13
Chile                     16
China                      1
Croatia                   11
Cyprus                     4
Czech Republic             5
Egypt                      1
England                    7
France                    21
Georgia                   10
Germany                   18
Greece                    12
Hungary                   16
India                      6
Israel                    15
Italy                     21
Lebanon                   10
Luxembourg                 3
Macedonia                  6
Mexico                    13
Moldova                   10
Morocco                    8
New Zealand               16
Peru                       7
Portugal                  21
Romania                   10
Serbia                     4
Slovakia                   1
Slovenia                  11
South Africa              14
Spain                     19
Switzerland                3
Turkey                     9
US                        21
Ukraine                    6
Uruguay                   13
dtype: int64

## 5. Créez la variable prix_centre contenant une version de la colonne price avec le prix moyen soustrait. (Remarque : cette transformation de « centrage » est une étape de prétraitement courante avant l’application de divers algorithmes de Machine Learning).

In [11]:
import numpy as np
price_mean=np.nanmean(R.price)
prix_centre=R.price.map(lambda t: t -price_mean)
print("Le prix moyen est de: ",prix_centre)

Le prix moyen est de:  0               NaN
1        -20.363389
2        -21.363389
3        -22.363389
4         29.636611
            ...
129966    -7.363389
129967    39.636611
129968    -5.363389
129969    -3.363389
129970   -14.363389
Name: price, Length: 129971, dtype: float64

## 6. Je suis un acheteur de boisson. Quelle boisson est la meilleure affaire ? Créez une variable boisson_negociee avec le titre de la boisson ayant le meilleur rapport qualité/prix dans l’ensemble de données.

In [12]:
rapport=R.points/R.price
imc=np.where(rapport.values==rapport.max())
best=[]
for i in range(len(imc[0])):
    best.append(R.title[imc[0][i]])
print("La boisson presentant le meilleur rapport qualite_prix (egal a",rapport.max(),")est",best)

NumExpr defaulting to 8 threads.

La boisson presentant le meilleur rapport qualite_prix (egal a 21.5 )est ['Bandit NV Merlot (California)', 'Cramele Recas 2011 UnWineD Pinot Grigio (Viile Timisului)']

# Exercice 3

## On considère le fichier boissons_evaluees.csv.

In [13]:
# Importation du système
import os
# Récupération du répertoire de travail
#(cwd : current working directory)
cwd = os.getcwd()
print(cwd)
# Changement de répertoire
os.chdir("C:\\Users\\User\\OneDrive\\Bureau\\WorkSpace19")

C:\Users\User\OneDrive\Bureau\WorkSpace19

In [14]:
import pandas as pd
R=pd.read_csv("boissons_evaluees.csv")
print(R)

        Unnamed: 0   country  \
0                0     Italy
1                1  Portugal
2                2        US
3                3        US
4                4        US
...            ...       ...
129966      129966   Germany
129967      129967        US
129968      129968    France
129969      129969    France
129970      129970    France

                                              description  \
0       Aromas include tropical fruit, broom, brimston...
1       This is ripe and fruity, a wine that is smooth...
2       Tart and snappy, the flavors of lime flesh and...
3       Pineapple rind, lemon pith and orange blossom ...
4       Much like the regular bottling from 2012, this...
...                                                   ...
129966  Notes of honeysuckle and cantaloupe sweeten th...
129967  Citation is given as much as a decade of bottl...
129968  Well-drained gravel soil gives this wine its c...
129969  A dry style of Pinot Gris, this is crisp with ...
129970  Big, rich and off-dry, this is powered by inte...

                                   designation  points  price  \
0                                 Vulkà Bianco      87    NaN
1                                     Avidagos      87   15.0
2                                          NaN      87   14.0
3                         Reserve Late Harvest      87   13.0
4           Vintner's Reserve Wild Child Block      87   65.0
...                                        ...     ...    ...
129966  Brauneberger Juffer-Sonnenuhr Spätlese      90   28.0
129967                                     NaN      90   75.0
129968                                   Kritt      90   30.0
129969                                     NaN      90   32.0
129970           Lieu-dit Harth Cuvée Caroline      90   21.0

                 province             region_1           region_2  \
0       Sicily & Sardinia                 Etna                NaN
1                   Douro                  NaN                NaN
2                  Oregon    Willamette Valley  Willamette Valley
3                Michigan  Lake Michigan Shore                NaN
4                  Oregon    Willamette Valley  Willamette Valley
...                   ...                  ...                ...
129966              Mosel                  NaN                NaN
129967             Oregon               Oregon       Oregon Other
129968             Alsace               Alsace                NaN
129969             Alsace               Alsace                NaN
129970             Alsace               Alsace                NaN

               taster_name taster_twitter_handle  \
0            Kerin O’Keefe          @kerinokeefe
1               Roger Voss            @vossroger
2             Paul Gregutt           @paulgwine
3       Alexander Peartree                   NaN
4             Paul Gregutt           @paulgwine
...                    ...                   ...
129966  Anna Lee C. Iijima                   NaN
129967        Paul Gregutt           @paulgwine
129968          Roger Voss            @vossroger
129969          Roger Voss            @vossroger
129970          Roger Voss            @vossroger

                                                    title         variety  \
0                       Nicosia 2013 Vulkà Bianco  (Etna)     White Blend
1           Quinta dos Avidagos 2011 Avidagos Red (Douro)  Portuguese Red
2           Rainstorm 2013 Pinot Gris (Willamette Valley)      Pinot Gris
3       St. Julian 2013 Reserve Late Harvest Riesling ...        Riesling
4       Sweet Cheeks 2012 Vintner's Reserve Wild Child...      Pinot Noir
...                                                   ...             ...
129966  Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...        Riesling
129967                  Citation 2004 Pinot Noir (Oregon)      Pinot Noir
129968  Domaine Gresser 2013 Kritt Gewurztraminer (Als...  Gewürztraminer
129969      Domaine Marcel Deiss 2012 Pinot Gris (Alsace)      Pinot Gris
129970  Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...  Gewürztraminer

                                          winery
0                                        Nicosia
1                            Quinta dos Avidagos
2                                      Rainstorm
3                                     St. Julian
4                                   Sweet Cheeks
...                                          ...
129966  Dr. H. Thanisch (Erben Müller-Burggraef)
129967                                  Citation
129968                           Domaine Gresser
129969                      Domaine Marcel Deiss
129970                          Domaine Schoffit

[129971 rows x 14 columns]

## 1. Quels sont les critiques de boisson les plus fréquentes dans l’ensemble des données ? Créez une Series dont l’index est la catégorie taster_twitter_handle de l’ensemble de données, et dont les valeurs comptent le nombre de critiques que chaque personne a rédigées.

In [15]:
d2=R.points.value_counts()
df= d2.iloc[0:5]
df

88    17207
87    16933
90    15410
86    12600
89    12226
Name: points, dtype: int64

In [16]:
from pandas import Series# On peut tout importer des le debut de l'exercice
Twitt=R.groupby("taster_twitter_handle").points.unique()
critique=[]
for i in range(len(Twitt.index)):
    critique.append(len(Twitt[i]))
boisson=Series(critique,index=Twitt.index)
boisson

taster_twitter_handle
@AnneInVino         17
@JoeCz              21
@bkfiona             7
@gordone_cellars    18
@kerinokeefe        21
@laurbuzz           15
@mattkettmann       17
@paulgwine          21
@suskostrzewa       15
@vboone             20
@vossroger          21
@wawinereport       18
@wineschach         19
@winewchristina      4
@worldwineguys      16
dtype: int64

## 2. Quelle est la meilleure boisson que je puisse acheter pour une somme donnée ? Créez une Series dont l’indice est le prix de la boisson et dont la valeur est le nombre maximum de points qu’une boisson coûtant le même prix a obtenu dans une critique. Trier les valeurs par prix, en ordre croissant.

In [17]:
import numpy as np
x=int(input("Entrer le prix de la boisson: "))
g=R.loc[R.loc[:,"price"]<=x]#Creation d'un nouveau DataFrame dans lequel la valeur des prix est inferieure au prix saisi.
rapport=g.points/g.price#Calcul du rapport qualite/prix.
g.insert(2,"me",rapport,allow_duplicates=False)#Creation d'une nouvelle colonne du DataFrame.
Boi=g.loc[g.loc[:,"me",]==np.nanmax(rapport)]#Creation d'un nouveau DataFrame dans lequel on ne prend que les(2) plus grand rapport qualite/prix.
Boi.title#Ceci permet un affichage classique.
Boi#Ceci permet un affichage sous forme de DataFrame

Entrer le prix de la boisson: 12

,Unnamed: 0,country,me,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
64590,64590,US,21.5,"There's a lot going on in this Merlot, which is likeable now for its rich blackberry, cherry, cranberry, cola and spice flavors. It's dry and balanced.",NaN,86,4.0,California,California,California Other,NaN,NaN,Bandit NV Merlot (California),Merlot,Bandit
126096,126096,Romania,21.5,"Notes of sun-dried hay and green flower highlight the nose and palate of this fresh, easy-quaffing wine. Concentrated tangerine and pineapple flavors are brisk and tasty.",UnWineD,86,4.0,Viile Timisului,NaN,NaN,Anna Lee C. Iijima,NaN,Cramele Recas 2011 UnWineD Pinot Grigio (Viile Timisului),Pinot Grigio,Cramele Recas

In [18]:
boisson=R.groupby("price").points.max()
boisson_trie=boisson.sort_values()
boisson

price
4.0       86
5.0       87
6.0       88
7.0       91
8.0       91
          ..
1900.0    98
2000.0    97
2013.0    91
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

## 3. Quels sont les prix minimum et maximum pour chaque cépage (variety) de boisson ? Créez un DataFrame dont l’indice est la catégorie variety de l’ensemble de données et dont les valeurs sont les valeurs min et max de celui-ci.

In [19]:
maximal=R.groupby("variety").price.max()
print("Les valeurs maximales: ",maximal)
minimal=R.groupby("variety").price.min()
print("Les valeurs minimales: ",minimal)

Les valeurs maximales:  variety
Abouriou        75.0
Agiorgitiko     66.0
Aglianico      180.0
Aidani          27.0
Airen           10.0
               ...
Zinfandel      100.0
Zlahtina        16.0
Zweigelt        70.0
Çalkarası       19.0
Žilavka         15.0
Name: price, Length: 707, dtype: float64
Les valeurs minimales:  variety
Abouriou       15.0
Agiorgitiko    10.0
Aglianico       6.0
Aidani         27.0
Airen           8.0
               ...
Zinfandel       5.0
Zlahtina       13.0
Zweigelt        9.0
Çalkarası      19.0
Žilavka        15.0
Name: price, Length: 707, dtype: float64

In [20]:
df=pd.DataFrame({"max":maximal,"min":minimal})
df

               max   min
variety
Abouriou      75.0  15.0
Agiorgitiko   66.0  10.0
Aglianico    180.0   6.0
Aidani        27.0  27.0
Airen         10.0   8.0
...            ...   ...
Zinfandel    100.0   5.0
Zlahtina      16.0  13.0
Zweigelt      70.0   9.0
Çalkarası     19.0  19.0
Žilavka       15.0  15.0

[707 rows x 2 columns]

## 4. Créer une Series dont l’indice est celui des « commentateurs » et dont la valeur est la note moyenne de l’examen donné par ce « commentateur ». Astuce : vous aurez besoin des colonnes taster_name et points.

In [21]:
R.groupby("variety").points.mean()

variety
Abouriou       87.666667
Agiorgitiko    87.031746
Aglianico      89.275766
Aidani         82.000000
Airen          81.666667
                 ...
Zinfandel      87.828666
Zlahtina       86.000000
Zweigelt       88.296651
Çalkarası      86.500000
Žilavka        88.000000
Name: points, Length: 707, dtype: float64

## 5. Quel est le type de données de la colonne points dans l’ensemble de données ?

In [22]:
R.points.dtype

dtype('int64')

## 6. Parfois, la colonne price est nulle. A combien d’avis dans l’ensemble de données manque-t-il un prix?

In [23]:
prix=R[pd.isnull(R.price)]
print("Sur",len(R),"avis il manque",len(prix))

Sur 129971 avis il manque 8996